  <ion-view title="Online" id="page2" style="background-color:#9AB1B8;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/eEyDGaaSo6b1ZTfunoGt_LogoRadioUniversitariavertical.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list>
      
       <div class="leanback-player-audio" width="350px" align="center">
          <audio preload="metadata" controls>
           <!-- HTML5 <audio> sources -->
            <source src="http://radio.unl.edu.ec:8080/stream" type='audio/mpeg'/>
          </audio>
       </div>
      
    </ion-list>
  </ion-content>
</ion-view>