<ion-view title="Programación" id="page4" style="background-color:#9AB1B8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="programaciN-list20">
      <ion-item class="item-icon-left positive" id="programaciN-list-item135" ui-sref="tabsController.programaciNLunes">
        <i class="icon ion-android-calendar"></i>Lunes</ion-item>
      <ion-item class="item-icon-left positive" id="programaciN-list-item136" ui-sref="tabsController.programaciNMartes">
        <i class="icon ion-android-calendar"></i>Martes</ion-item>
      <ion-item class="item-icon-left positive" id="programaciN-list-item137" ui-sref="tabsController.programaciNMiRcoles">
        <i class="icon ion-android-calendar"></i>Miercoles </ion-item>
      <ion-item class="item-icon-left positive" id="programaciN-list-item138" ui-sref="tabsController.programaciNJueves">
        <i class="icon ion-android-calendar"></i>Jueves</ion-item>
      <ion-item class="item-icon-left positive" id="programaciN-list-item139" ui-sref="tabsController.programaciNViernes">
        <i class="icon ion-android-calendar"></i>Viernes</ion-item>
      <ion-item class="item-icon-left positive" id="programaciN-list-item140" ui-sref="tabsController.programaciNSabado">
        <i class="icon ion-android-calendar"></i>Sabado</ion-item>
      <ion-item class="item-icon-left positive" id="programaciN-list-item141" ui-sref="tabsController.programaciNDomingo">
        <i class="icon ion-android-calendar"></i>Domingo </ion-item>
    </ion-list>
  </ion-content>
</ion-view>