<ion-view title="Programación Miércoles" id="page13" style="background-color:#9AB1B8;">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="programaciNMiRcoles-list-item-container3">
      <ion-list id="programaciNMiRcoles-list50">
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider75"> 05h00-05h15</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item195">
          <i class="icon ion-android-time"></i> Mi Tío Juan</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider76"> 06h00-06h30</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list51">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item196">
          <i class="icon ion-android-time"></i>Himno Nacional del Ecuador-Cantares Ecuatorianos </ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider77"> 06h30-07h00</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list52">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item197">
          <i class="icon ion-android-time"></i>Música Lojana</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider78"> 07h00-08h15</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list53">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item198">
          <i class="icon ion-android-time"></i>Enlace con radio Pública- Ecuador en movimiento</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider79"> 08h15-08h30</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list54">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item199">
          <i class="icon ion-android-time"></i>Micro informativo "La Universidad Rinde Cuentas"</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider80"> 08h30-09h30</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list55">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item200">
          <i class="icon ion-android-time"></i>Universo Deportivo </ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider81"> 09h30-10h00</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list56">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item201">
          <i class="icon ion-android-time"></i>Música Folklórica</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider82"> 10h00-10h05</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list57">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item202">
          <i class="icon ion-android-time"></i>Micro informativo "La Universidad Rinde Cuentas"</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider83"> 10h05-10h30</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list58">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item203">
          <i class="icon ion-android-time"></i>Música Folklórica</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider84"> 10h30-11h00</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list59">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item204">
          <i class="icon ion-android-time"></i>Administración Pública al Aire </ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider85"> 11h00-11h04</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list60">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item205">
          <i class="icon ion-android-time"></i>Micro informativo "La Universidad Rinde Cuentas"</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider86"> 11h04-11h20</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list61">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item206">
          <i class="icon ion-android-time"></i>Música Actual </ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider87"> 11h20-11h30</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list62">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item207">
          <i class="icon ion-android-time"></i>Mi Tío Juan</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider88"> 11h30-12h30</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list63">
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item208">
          <i class="icon ion-android-time"></i>Noticiero-Universidad al Día </ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider89"> 12h30-14h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item209">
          <i class="icon ion-android-time"></i>Romance Ecuatoriano</ion-item>
      </ion-list>
      <ion-list id="programaciNMiRcoles-list64">
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider91"> 14h00-14h04</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item211">
          <i class="icon ion-android-time"></i>Micro Informativo "La Universidad Rinde Cuentas"</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider92"> 14h04-14h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item212">
          <i class="icon ion-android-time"></i>Cantares Ecuatorianos </ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider93"> 14h30-15h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item213">
          <i class="icon ion-android-time"></i>Música Ingles </ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider94"> 15h00-17h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item214">
          <i class="icon ion-android-time"></i>De mentes abiertas revista radial Carrera de Comunicación Social</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider96"> 17h00-17h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item216">
          <i class="icon ion-android-time"></i>Rincón Tecnológico-CIS</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider97"> 17h30-18h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item217">
          <i class="icon ion-android-time"></i>Cantares Ecuatorianos </ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider98"> 18h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item218">
          <i class="icon ion-android-time"></i>Himno Nacional del Ecuador </ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider99"> 18h00-20h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item219">
          <i class="icon ion-android-time"></i>Emociones y/o Transmisiones deportivas</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider100"> 20h00-21h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item220">
          <i class="icon ion-android-time"></i>Reprise del Noticiero "Universidad al día"</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider101"> 21h00-22h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item221">
          <i class="icon ion-android-time"></i>Micro Informativo "La universidad rinde cuentas"</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item222">
          <i class="icon ion-android-time"></i>Música Ecuatoriana</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider102"> 22h00-22h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item223">
          <i class="icon ion-android-time"></i>Micro Informativo "La universidad rinde cuentas"</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item224">
          <i class="icon ion-android-time"></i>Música del mundo</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider103"> 22h30-23h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item225">
          <i class="icon ion-android-time"></i>Cantares Ecuatorianos </ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider104"> 23h00-24h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item226">
          <i class="icon ion-android-time"></i>Micro Informativo "La universidad rinde cuentas"</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item227">
          <i class="icon ion-android-time"></i>Música Rockolera-Boleros</ion-item>
        <ion-item class="item-divider" id="programaciNMiRcoles-list-item-divider105"> 01h00-05h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNMiRcoles-list-item228">
          <i class="icon ion-android-time"></i>Sistema Digital</ion-item>
      </ion-list>
      <div id="programaciNMiRcoles-markdown5" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Programación
          <strong>semanal</strong>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>