<ion-view title="Programación Sabado" id="page16" style="background-color:#9AB1B8;">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="programaciNSabado-list-item-container6">
      <ion-list id="programaciNSabado-list95">
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider168"> 05h00-06h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item297">
          <i class="icon ion-android-time"></i>La Hora del Agro, con aroma a nuestra tierra</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider169"> 06h00-08h15</ion-item>
      </ion-list>
      <ion-list id="programaciNSabado-list96">
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item298">
          <i class="icon ion-android-time"></i>Música Lojana</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider170"> 08h15-10h00</ion-item>
      </ion-list>
      <ion-list id="programaciNSabado-list97">
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item299">
          <i class="icon ion-android-time"></i>Reprisse: Nuestros artistas Lojanos</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider171"> 10h00-14h04</ion-item>
      </ion-list>
      <ion-list id="programaciNSabado-list98">
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item300">
          <i class="icon ion-android-time"></i>Cadena radial del Presidente</ion-item>
      </ion-list>
      <ion-list id="programaciNSabado-list109">
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider185"> 14h04-14h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item314">
          <i class="icon ion-android-time"></i>Cantares Nancionales</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider186"> 14h30-15h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item315">
          <i class="icon ion-android-time"></i>Bailables</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider187"> 15h00-15h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item316">
          <i class="icon ion-android-time"></i>Reprisse: Conociendo tu Psiquis</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider188"> 15h30-16h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item317">
          <i class="icon ion-android-time"></i>Bailables</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider189"> 16h00-16h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item318">
          <i class="icon ion-android-time"></i>Reprisse: Deja la escuela </ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider190"> 16h30-17h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item319">
          <i class="icon ion-android-time"></i>Bailables</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider191"> 17h00-17h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item320">
          <i class="icon ion-android-time"></i>Reprisse: Rincón Tecnológico</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider192"> 17h30-18h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item321">
          <i class="icon ion-android-time"></i>Cantares Ecuatorianos</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider193"> 18h00-19h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item322">
          <i class="icon ion-android-time"></i>Reprisse: La hora del Agro, con aroma a nuestra tierra </ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider194"> 19h00-21h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item323">
          <i class="icon ion-android-time"></i>Música del Recuerdo</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider195"> 22h00-22h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item325">
          <i class="icon ion-android-time"></i>Micro Informativo "La universidad rinde cuentas"</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item326">
          <i class="icon ion-android-time"></i>Música del mundo</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider196"> 22h30-23h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item327">
          <i class="icon ion-android-time"></i>Cantares Ecuatorianos </ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider197"> 23h00-24h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item329">
          <i class="icon ion-android-time"></i>Vals</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider198"> 01h00-02h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item330">
          <i class="icon ion-android-time"></i>Sistema Digital</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider121"> 02h00-04h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item6">
          <i class="icon ion-android-time"></i>Reprisse: Romance Ecuatoriano</ion-item>
        <ion-item class="item-divider" id="programaciNSabado-list-item-divider146"> 04h00-05h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNSabado-list-item7">
          <i class="icon ion-android-time"></i>Sistema Digital</ion-item>
      </ion-list>
      <div id="programaciNSabado-markdown8" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Programación
          <strong>semanal</strong>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>