<ion-view title="Programación Jueves" id="page14" style="background-color:#9AB1B8;">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="programaciNJueves-list-item-container4">
      <ion-list id="programaciNJueves-list65">
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider106"> 05h00-05h15</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item229">
          <i class="icon ion-android-time"></i> Mi Tío Juan</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider107"> 06h00-06h30</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list66">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item230">
          <i class="icon ion-android-time"></i>Himno Nacional del Ecuador-Cantares Ecuatorianos </ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider108"> 06h30-07h00</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list67">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item231">
          <i class="icon ion-android-time"></i>Música Lojana</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider109"> 07h00-08h15</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list68">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item232">
          <i class="icon ion-android-time"></i>Enlace con radio Pública- Ecuador en movimiento</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider110"> 08h15-08h30</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list69">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item233">
          <i class="icon ion-android-time"></i>Micro informativo "La Universidad Rinde Cuentas"</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider111"> 08h30-09h30</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list70">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item234">
          <i class="icon ion-android-time"></i>Universo Deportivo </ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider112"> 09h30-10h00</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list71">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item235">
          <i class="icon ion-android-time"></i>Música Folklórica</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider113"> 10h00-10h05</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list72">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item236">
          <i class="icon ion-android-time"></i>Micro informativo "La Universidad Rinde Cuentas"</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider114"> 10h05-11h00</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list73">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item237">
          <i class="icon ion-android-time"></i>La Polémica Programa de Opinión y análisis de los acontecimientos que hacen noticia </ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider115"> 10h30-11h00</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list74">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item238">
          <i class="icon ion-android-time"></i>Música Folklórica </ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider116"> 11h00-11h04</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list75">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item239">
          <i class="icon ion-android-time"></i>Micro informativo "La Universidad Rinde Cuentas"</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider117"> 11h04-11h20</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list76">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item240">
          <i class="icon ion-android-time"></i>Música Actual </ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider118"> 11h20-11h30</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list77">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item241">
          <i class="icon ion-android-time"></i>Mi Tío Juan</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider119"> 11h30-12h30</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list78">
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item242">
          <i class="icon ion-android-time"></i>Noticiero-Universidad al Día </ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider120"> 12h30-14h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item243">
          <i class="icon ion-android-time"></i>Menuda Hora: Niños</ion-item>
      </ion-list>
      <ion-list id="programaciNJueves-list79">
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider122"> 14h00-14h04</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item245">
          <i class="icon ion-android-time"></i>Micro Informativo "La Universidad Rinde Cuentas"</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider123"> 14h04-14h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item246">
          <i class="icon ion-android-time"></i>Cantares Ecuatorianos </ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider124"> 14h30-15h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item247">
          <i class="icon ion-android-time"></i>Música Ingles </ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider125"> 15h00-15h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item248">
          <i class="icon ion-android-time"></i>Conociendo Tu Psiquis</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider126"> 15h30-16h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item249">
          <i class="icon ion-android-time"></i>Bailables</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider127"> 16h00-16h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item250">
          <i class="icon ion-android-time"></i>Deja la escuela y aprende- Lieteratura </ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider128"> 16h30-17h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item251">
          <i class="icon ion-android-time"></i>Bailables</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider230"> 17h00-18h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item365">
          <i class="icon ion-android-time"></i>Punto G-Carrera Comunicación Social</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider129"> 18h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item252">
          <i class="icon ion-android-time"></i>Himno Nacional del Ecuador </ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider130"> 18h00-20h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item253">
          <i class="icon ion-android-time"></i>Emociones y/o Transmisiones deportivas</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider131"> 20h00-21h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item254">
          <i class="icon ion-android-time"></i>Reprise del Noticiero "Universidad al día"</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider132"> 21h00-22h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item255">
          <i class="icon ion-android-time"></i>Micro Informativo "La universidad rinde cuentas"</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item256">
          <i class="icon ion-android-time"></i>Música Ecuatoriana</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider133"> 22h00-22h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item257">
          <i class="icon ion-android-time"></i>Micro Informativo "La universidad rinde cuentas"</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item258">
          <i class="icon ion-android-time"></i>Música del mundo</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider134"> 22h30-23h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item259">
          <i class="icon ion-android-time"></i>Cantares Ecuatorianos </ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider135"> 23h00-24h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item260">
          <i class="icon ion-android-time"></i>Micro Informativo "La universidad rinde cuentas"</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item261">
          <i class="icon ion-android-time"></i>Música Rockolera-Boleros</ion-item>
        <ion-item class="item-divider" id="programaciNJueves-list-item-divider136"> 01h00-05h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNJueves-list-item262">
          <i class="icon ion-android-time"></i>Sistema Digital</ion-item>
      </ion-list>
      <div id="programaciNJueves-markdown6" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Programación
          <strong>semanal</strong>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>