<ion-view title="Programación Viernes" id="page15" style="background-color:#9AB1B8;">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="programaciNViernes-list-item-container5">
      <ion-list id="programaciNViernes-list80">
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider137"> 05h00-05h15</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item263">
          <i class="icon ion-android-time"></i> Mi Tío Juan</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider138"> 06h00-06h30</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list81">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item264">
          <i class="icon ion-android-time"></i>Himno Nacional del Ecuador-Cantares Ecuatorianos </ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider139"> 06h30-07h00</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list82">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item265">
          <i class="icon ion-android-time"></i>Música Lojana</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider140"> 07h00-08h15</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list83">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item266">
          <i class="icon ion-android-time"></i>Enlace con radio Pública- Ecuador en movimiento</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider141"> 08h15-08h30</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list84">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item267">
          <i class="icon ion-android-time"></i>Programa sociedad viva CNE</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider142"> 08h30-09h30</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list85">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item268">
          <i class="icon ion-android-time"></i>Universo Deportivo </ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider143"> 09h30-10h00</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list86">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item269">
          <i class="icon ion-android-time"></i>Música Folklórica</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider144"> 10h00-10h05</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list87">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item270">
          <i class="icon ion-android-time"></i>Micro informativo "La Universidad Rinde Cuentas"</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider145"> 10h05-11h00</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list88">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item271">
          <i class="icon ion-android-time"></i>Música Folklórica</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list89">
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider147"> 11h00-11h04</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list90">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item273">
          <i class="icon ion-android-time"></i>Micro informativo "La Universidad Rinde Cuentas"</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider148"> 11h04-11h20</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list91">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item274">
          <i class="icon ion-android-time"></i>Música Actual </ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider149"> 11h20-11h30</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list92">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item275">
          <i class="icon ion-android-time"></i>Mi Tío Juan</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider150"> 11h30-12h30</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list93">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item276">
          <i class="icon ion-android-time"></i>Noticiero-Universidad al Día </ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider151"> 12h30-13h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item277">
          <i class="icon ion-android-time"></i>Instrumentales</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider152"> 13h30-14h00</ion-item>
      </ion-list>
      <ion-list id="programaciNViernes-list94">
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item278">
          <i class="icon ion-android-time"></i>Baladas Ritmicas </ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider153"> 14h00-14h04</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item279">
          <i class="icon ion-android-time"></i>Micro Informativo "La Universidad Rinde Cuentas"</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider154"> 14h04-14:h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item280">
          <i class="icon ion-android-time"></i>Cantares Ecuatorianos </ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider155"> 14h30-15h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item281">
          <i class="icon ion-android-time"></i>Música Ingles </ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider156"> 15h00-15h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item282">
          <i class="icon ion-android-time"></i>La Universidad Rinde Cuentas / Bailables</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider157"> 15h30-16h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item283">
          <i class="icon ion-android-time"></i>Bailables</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider158"> 16h30-18h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item284">
          <i class="icon ion-android-time"></i>Nuestros Artistas Lojanos</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider160"> 18h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item286">
          <i class="icon ion-android-time"></i>Himno Nacional del Ecuador </ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider161"> 18h00-20h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item287">
          <i class="icon ion-android-time"></i>Emociones y/o Transmisiones deportivas</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider162"> 20h00-21h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item288">
          <i class="icon ion-android-time"></i>Reprise del Noticiero "Universidad al día"</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider163"> 21h00-22h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item289">
          <i class="icon ion-android-time"></i>Micro Informativo "La universidad rinde cuentas"</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item290">
          <i class="icon ion-android-time"></i>Música Ecuatoriana</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider164"> 22h00-22h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item291">
          <i class="icon ion-android-time"></i>Micro Informativo "La universidad rinde cuentas"</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item292">
          <i class="icon ion-android-time"></i>Música del mundo</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider165"> 22h30-23h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item293">
          <i class="icon ion-android-time"></i>Cantares Ecuatorianos </ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider166"> 23h00-24h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item294">
          <i class="icon ion-android-time"></i>Micro Informativo "La universidad rinde cuentas"</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item295">
          <i class="icon ion-android-time"></i>Música Rockolera-Boleros</ion-item>
        <ion-item class="item-divider" id="programaciNViernes-list-item-divider167"> 01h00-05h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNViernes-list-item296">
          <i class="icon ion-android-time"></i>Sistema Digital</ion-item>
      </ion-list>
      <div id="programaciNViernes-markdown7" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Programación
          <strong>semanal</strong>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>