<ion-view title="Programación Domingo" id="page17" style="background-color:#9AB1B8;">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="programaciNDomingo-list-item-container7">
      <ion-list id="programaciNDomingo-list110">
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider199"> 05h00-06h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item331">
          <i class="icon ion-android-time"></i>La Hora del Agro, con aroma a nuestra tierra</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider200"> 06h00-07h00</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list111">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item332">
          <i class="icon ion-android-time"></i>Música Lojana</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider201"> 07h00-08h30</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list112">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item333">
          <i class="icon ion-android-time"></i>Romance Ecuatoriano</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider202"> 08h30-10h00</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list113">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item334">
          <i class="icon ion-android-time"></i>Reprisse: La Polemica </ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider203"> 10h00-11h00</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list114">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item335">
          <i class="icon ion-android-time"></i>Programa de Niños Menuda Hora</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider204"> 11h00-11h30</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list115">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item336">
          <i class="icon ion-android-time"></i>Reprisse: Derecho para no Abogados</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider205"> 11h30-12h30</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list116">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item337">
          <i class="icon ion-android-time"></i>Reprisse: Administración Pública</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider206"> 12h30-14h04</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list117">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item338">
          <i class="icon ion-android-time"></i>Música Variada </ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider207"> 14h04-14h30</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list118">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item339">
          <i class="icon ion-android-time"></i>Cantares Nacionales</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider208"> 14h30-16h00</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list119">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item340">
          <i class="icon ion-android-time"></i>Bailables</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider209"> 16h00-16h30</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list120">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item341">
          <i class="icon ion-android-time"></i>Boleros</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider210"> 16h30-17h30</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list121">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item342">
          <i class="icon ion-android-time"></i>Música Folckórica</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider211"> 17h30-18h00</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list122">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item343">
          <i class="icon ion-android-time"></i>Cantares Ecuatorianos</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider212"> 18h00-19h00</ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list123">
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item344">
          <i class="icon ion-android-time"></i>Reprisse: La hora del Agro, con aroma a nuestra tierra</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider213"> 19h00-20h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item345">
          <i class="icon ion-android-time"></i>Reprisse: Lojanidades </ion-item>
      </ion-list>
      <ion-list id="programaciNDomingo-list124">
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider224"> 20h00-21h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item356">
          <i class="icon ion-android-time"></i>Reprise del Noticiero "Universidad al día"</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider225"> 21h00-22h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item357">
          <i class="icon ion-android-time"></i>Micro Informativo "La universidad rinde cuentas"</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item358">
          <i class="icon ion-android-time"></i>Música Ecuatoriana</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider226"> 22h00-22h30</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item359">
          <i class="icon ion-android-time"></i>Micro Informativo "La universidad rinde cuentas"</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item360">
          <i class="icon ion-android-time"></i>Música del mundo</ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider227"> 22h30-23h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item361">
          <i class="icon ion-android-time"></i>Cantares Ecuatorianos </ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider228"> 23h00-24h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item362">
          <i class="icon ion-android-time"></i>Música variada </ion-item>
        <ion-item class="item-divider" id="programaciNDomingo-list-item-divider229"> 01h00-05h00</ion-item>
        <ion-item class="item-icon-left positive" id="programaciNDomingo-list-item364">
          <i class="icon ion-android-time"></i>Sistema Digital</ion-item>
      </ion-list>
      <div id="programaciNDomingo-markdown9" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>