<ion-view title="Quienes Somos" id="page3" style="background-color:#9AB1B8;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/zWYxWtPJTXq0LUN089VM_radiologo.png" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div id="quienesSomos-markdown1" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Radio Universitaria 98.5 es un medio de comunicación público de la Universidad Nacional de Loja, para comunicarse con la comunidad a través de la coordinación, cooperación, consulta, intercambio y promoción del arte, la ciencia, la cultura y el
        desarrollo de Loja y la Región Sur.</p>

      <p style="color:#000000;">En nuestros estudios se realizan producciones radiofónicas como son: mensajes, cuñas, grabaciones de CDS, promocionales, documentales, reportaje, jingles, y otros productos comunicacionales con tecnología de punta.</p>
    </div>
  </ion-content>
</ion-view>